@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .wrapper {
        @apply max-w-7xl mx-auto px-2 lg:px-0
    }

    .page-wrapper {
        @apply max-w-7xl mx-auto px-2 lg:px-0 pt-[92px]
    }
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 20px;
}